.div-surdo {
  position: relative;
  width: 180px;
  display: flex;
  flex-direction: column;
}
.surdo {
  width: 150px;
  height: 174px;
  overflow: hidden;
  border-top-right-radius: 11px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 27px;
  position: relative;
  border: 3px solid #000;
  border-top: 0;
  left: 46px;
  top: -9px;
  background-color: #c30103;
  box-shadow: inset -17px 9px 5px 9px #920101;
}
.div-surdo span {
  z-index: 99;
  font-size: 30px;
  position: relative;
  top: 84px;
  left: 112px;
}
.surdo::before {
  content: "";
  width: 5px;
  height: 100%;
  background: #b6c2c0;
  position: absolute;
  top: 0;
  left: 16px;
  box-shadow: 1px 1px 0 1px #000, -3px 0px 0 -2px #000;
}
.surdo::after {
  content: "";
  width: 5px;
  height: 100%;
  background: #b6c2c0;
  position: absolute;
  top: 0;
  right: 15px;
  box-shadow: 1px 1px 0 1px #000, -3px 0px 0 -2px #000;
}
.surdo-borda-top {
  width: 150px;
  height: 26px;
  padding: 13px;
  overflow: hidden;
  border-radius: 100%;
  position: relative;
  border: 7px solid #b6c2c0;
  border-top: 4px solid #b6c2c0;
  box-shadow: 0px 0px 0 3px #000, inset 1px 1px 0 2px #000,
    inset 3px 4px 0px 6px #dfd341;
  background-color: #f9eb60;
  background-color: #f9eb60;

  left: 46px;
  top: 52px;
  z-index: 99;
}

.surdo-borda-bottom {
  width: 150px;
  height: 51px;
  overflow: hidden;
  border-radius: 100%;
  position: relative;
  border-bottom: 5px solid #b6c2c0;
  border-top: 8px;
  box-shadow: 0px 2px 0 1px #000, inset 0px -2px 0 0px #000;
  left: 46px;
  top: -55px;
}
.pe-surdo {
  width: 21px;
  position: relative;
  top: -55px;
  left: 112px;
  border-radius: 5px;
  height: 44px;
  border: 2px solid #000;
  background-color: #b6c2c0;
  box-shadow: inset -5px 2px 3px 2px #839493;
}
.subpe-surdo-left {
  width: 25px;
  height: 8px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: absolute;
  top: 72px;
  border: 1px solid #000;
  background-color: #b6c2c0;
  left: -35px;
}
.subpe-surdo-right {
  width: 25px;
  height: 8px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: absolute;
  top: 72px;
  left: 28px;
  z-index: 99;
  border: 1px solid #000;

  background-color: #b6c2c0;
  box-shadow: inset -8px 0px 0px 1px #839493;
}
.pe-surdo::before {
  content: "";
  width: 5px;
  height: 43px;
  background-color: #b6c2c0;
  position: absolute;
  top: 34px;
  left: -15px;
  border: 2px solid #000;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: rotate(35deg);
  box-shadow: inset -2px 2px 0px 1px #839493;
}
.pe-surdo::after {
  content: "";
  width: 5px;
  height: 43px;
  background-color: #b6c2c0;
  position: absolute;
  top: 34px;
  border: 2px solid #000;
  left: 24px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: rotate(-35deg);
  box-shadow: inset -2px 2px 0px 1px #839493;
}
.pe-surdo-central {
  width: 9px;
  position: relative;
  top: -57px;
  left: 118px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 53px;
  border: 2px solid #000;
  background-color: #b6c2c0;
  box-shadow: inset -1px 0px 0px 1px #839493;
}
.subpe-surdo-central {
  width: 25px;
  height: 8px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: absolute;
  top: 48px;
  left: -10px;
  border: 1px solid #000;
  background-color: #b6c2c0;
}
